extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea necessitatibus eum nemo non voluptates repudiandae quas nostrum maxime veniam perferendis. Commodi minus, tempore rerum tenetur numquam cum optio officiis dolorem.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta esse itaque temporibus tempora inventore totam consequatur laborum dolore officia quos molestiae nam nesciunt minus rem distinctio, doloremque eum corporis! Quidem?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, pariatur, obcaecati tempora molestiae vitae architecto sunt iure, nisi voluptatum beatae dicta odio dolores reprehenderit quisquam quas ipsum! Laudantium, porro facilis!
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4   
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic numquam eos, voluptate provident ipsum id dolore optio.
                .col-md-4   
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic numquam eos, voluptate provident ipsum id dolore optio.
                .col-md-4   
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic numquam eos, voluptate provident ipsum id dolore optio.