extends ../layout/index
block slider
    .slider 
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ut beatae dolore? Porro quis nostrum placeat esse numquam. Officia ea placeat explicabo enim cumque quaerat eum? Commodi architecto odit sunt.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae repellendus nobis ea officiis, facere quaerat iste eos minima ex temporibus perferendis possimus rem voluptate modi aspernatur amet eaque error mollitia.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes

    .descuento 
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2020 - 28 de Marzo 2020
                        p.precio $2,550 USD
    .container  
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
        